.profile-container {
    .content {
        height: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        form {
            max-width: 350px;
            background: $primary;
            color: $white;
            padding: 1rem;
            border-radius: $border-radius;

            h1 {
                font-size: 2rem;
                margin-bottom: .5rem;
            }

            .avatar {
                display: flex;
                align-items: flex-start;
                figure {
                    min-width: 50px;
                    width: 50px;
                    max-width: 50px;
                    min-height: 50px;
                    height: 50px;
                    max-height: 50px;
                    overflow: hidden;
                    border-radius: 50%;
                    border: 2px solid $white;
                    margin-bottom: 0rem;
                    margin-right: 5px;

                    img {
                        width: 100%;
                    }
                }

                .files {
                    span {
                        // margin-bottom: .25rem;
                    }
                    input {
                        margin-top: .5rem;
                        
                    }
                }
            }

            .input-group {
                display: flex;
                flex-direction: column;
                margin-bottom: .5rem;

                label {
                    margin-bottom: .25rem;
                }

                input {
                    margin-left: 0px !important;
                    border-top-left-radius: $border-radius !important;
                    border-bottom-left-radius: $border-radius !important;
                    padding: 0.25rem;
                    height: 30px;
                    border-radius: 5px;
                    outline: none;
                    border: none;
                    width: 100%;
                    box-shadow: 0 0 0 0.25rem transparent !important;
                    transition: .3s;

                    &:focus {
                        box-shadow: 0 0 0 0.25rem #86b7fe !important;
                    }
                }
            }

            .form-footer {
                margin-top: 1rem;
                display: flex;
                justify-content: space-between;
                align-items: center;

                a {
                    margin-bottom: 0rem;
                    text-decoration: none;
                    transition: .3s;
                    color: $white;

                    &:hover,
                    &:focus {
                        color: darken($blue, 10%)
                    }
                }

                button {
                    padding: 0.5rem;
                    height: 30px;
                    border-radius: 5px;
                    background: $blue;
                    color: $white;
                    outline: none;
                    border: none;
                    width: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: .3s;

                    &:hover,
                    &:focus {
                        background: darken($blue, 10%);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}